.carousel {
    padding: 81px 0;
    .tns-item {
        width: 750px;
    }
        
    .slick-prev, .slick-next {
        display: block;
        height: 60px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }

    
}
