.catalog {
    padding-bottom: 100px;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        
    }
    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #6b6b6b;
        text-align: center;
        line-height: 48px;
        transform: skewX(-28deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.2s all;
        &:hover {
            box-shadow: 3px 3px 10px #464444;
            border: none;
        }
        div {
            transform: skewX(28deg);
        }
        &_active {
            background-color: $main-color;
            color: #fff;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 20px;
        &_img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }
        &__subtitle {
            margin-top: 17px;
            font-size: 16px;
            font-weight: 700;
            color: #0d0d0d;
            text-align: center;
        }
        &__descr {
            margin-top: 12px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #0d0d0d;
            text-align: center;
        }
        &__link {
            display: block;
            margin-top: 12px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            color: #c70101;
            text-align: center;
            &:hover {
                color: #c70101;
                text-decoration: underline;
            }
        }
        hr {
            background-color: #e8e8e8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
        }
        &__old-price {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }
        &__price {
            font-size: 20px;
            font-weight: 700;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px)
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                margin-right: 20px;
                transform: translateX(0%);
            }
        }
        &__list {
            width: 50%;
            position: relative;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 15px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
            }
            li {
                position: relative;
                font-size: 14px;
                line-height: 16px;
                font-weight: 300;
                color: #555555;
                margin-bottom: 18px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -14px;
                    top: 8px;
                }
            }
        }
        &__back {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(calc(-50% - 15px));
            bottom: 0px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            color: #c70101;
            text-align: center;
            &:hover {
                color: #c70101;
                text-decoration: underline;
            }
        }
    }
}